<h1 class="title">{{ title }}</h1>
<div>
  {{ appService.data }}
</div>

<div>
  {{ currentDate }}
</div>

<div>
  {{ currentDate | date }}
</div>

<div>
  {{ price | currency }}
</div>

<div *ngIf="isLoggedIn">Bienvenido {{ username }}!</div>
<div *ngIf="!isLoggedIn">Por favor inicia sesión.</div>

<app-layout></app-layout>

<input [value]="fullName" />
<div [title]="fullName">Pasa el mouse por encima</div>

<button (click)="onClick()">¡Haz clic en mí!</button>
<br />
<input (change)="onChange($event)" />
<br />
<input (input)="onInput($event)" />
<br />
<input [(ngModel)]="fullName" />
<br />
<button (click)="hideLayout()">Ocultar Layout</button>
<br />
<app-layout *ngIf="isShowLayout"></app-layout>
